

process {

    executor= 'SGE'
    queue = 'mem_512,short-sl7,long-sl7'
    
    withLabel: 'rprocess' { 
        container = 'file:///nfs/users/dweghorn/projects/Selection_sites/scripts/nextflow/singularity/myr.sif'
        cpus   = 1
		errorStrategy = 'retry'        
		memory = {80.GB * task.attempt}
        time = {24.h * task.attempt}
		maxRetries = 2
    }

    withLabel: 'pythonprocess' { 
    	container = 'file:///nfs/users/dweghorn/projects/Selection_sites/scripts/nextflow/singularity/mypython.sif'
        cpus   = 1
		errorStrategy = 'retry'        
		memory = {24.GB * task.attempt * task.attempt}
        time = {1.h * task.attempt * task.attempt}
		maxRetries = 3
    }

    withLabel: 'bashprocess' { 

        cpus   = 1
		errorStrategy = 'retry'        
		memory = {4.GB * task.attempt * task.attempt}
        time = {1.h * task.attempt * task.attempt}
		maxRetries = 5
    }

}

singularity {enabled = true }


